/* index.css*/
#container{font-size:16px;}
#left1>p{font-size:30px;}
#main{overflow:hidden;}
#left1{float:left; width:20%;}
#left2{float:left; width:10%;}
#right1{margin-left:80%;margin-right:10%;<img scr="search.png" width=30px height=30px}
#right2{margin-left:90%;}
#left2:hover{background-color:#ddd;}
#footer{text-align: center;margin: 0 auto;}
